
@{
    ViewData["Title"] = "Index";
}

<h2>Ürünler</h2>

<table class="table">
    <thead>
        <tr>
            <th>Ürün Adı</th>
            <th>Fiyatı</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Chai</td>
            <td>39.82</td>
        </tr>
        <tr>
            <td>Chang</td>
            <td>17.92</td>
        </tr>
        <tr>
            <td>Anyseed Syrup</td>
            <td>23.65</td>
        </tr>
    </tbody>
</table>

